//colors
$color-white-alpha:#f0f4f5;
$color-background:#0E1A37;
$color-logo:tomato;
$color-menu-hover:darkorange;

$color-gray-dark:#777;
$color-white:#fff;
$color-black:#000000;
$color-review:#000000;
$color-review-bg: #FFF8B2;

$color-button:#5e5e5e;
$color-input:#d3d3d3;
$color-placeholder:#FFFFFF80;
$color-review-btn: darkorange;

//font
$default-font-size: 1.6rem;

//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//images
.handsize{
    width:20rem;
    height:20rem;
    padding:3rem;

}