.dropdown {
    position: relative;
    z-index: 1;
    width: 300px;
    margin-bottom: 8px;
}
  
.dropdown-toggle {
    width: 70%;
    height: 50px;
    padding: 0 16px;
    line-height: 50px;
    color: rgba(133, 136, 150, 0.5);
    text-align: left;
    border: 0px solid rgba(224, 226, 231, 0.75);
    border-radius: 6px;
    transition: border-color 100ms ease-in;
}

.dropdown-toggle.selected {
    color: #3f4150;
    border-color: rgba(224, 226, 231, 1);
}

.dropdown-toggle:active {
    border-color: rgba(224, 226, 231, 1);
}

.dropdown-menu {
    position: absolute;
    z-index: 2;
    top: calc(100% + 4px);
    left: 0;
    width: 70%;
    max-height: 0;
    overflow: hidden;
    background-color: #fff;
    border: 0px solid transparent;
    border-radius: 6px;
    transition: border-color 200ms ease-in, padding 200ms ease-in,
    max-height 200ms ease-in, box-shadow 200ms ease-in;
}

.dropdown-menu.show {
    padding: 8px 0;
    max-height: 280px;
    border-color: rgba(224, 226, 231, 0.5);
    box-shadow: 0 4px 9px 0 rgba(63, 65, 80, 0.1);
}

.dropdown-option {
    width: 100%;
    height: 44px;
    padding: 0 16px;
    line-height: 44px;
    text-align: left;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-size: 15px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #3f4150;
    background-color: #fff;
    border: none;
    cursor: pointer;

    &:focus,
    &:active {
    outline: none;
    box-shadow: none;
    }
}

.dropdown-option:hover {
    background-color: #f8f9fa;
}

.dropdown-filter {
    display: flex;
    flex-direction: column;
    width: 50rem; 
    height: 50rem;
    padding-bottom: 0px;
    padding-left: 30rem;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    color : #fff;
    background-color: #0E1A37;    
} 

.dropdown-second {
    display: flex;
    flex-direction: column;
    width: 50rem; 
    height: 50rem;
    padding-bottom: 1px;
    padding-left: 30rem;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    color : #fff;
    background-color: #0E1A37;       
}
