.section-top3{
    padding: 4rem;
}

.good_bad_button{
    text-align: center;
}

.section-review{
    margin:4rem;
}

.poster{
    transition: transform .3s;

    &:hover{
        transform:translateY(-1.5rem) scale(1.03);
    }

    &-small{
        width: 25rem;
        height: 40rem;
    }
    
    &-actor{
        width: 13rem;
        height: 16rem;
    }
}

.uptown{
    width:100%;
    margin-top: -35rem;
}